# dependencies
node_modules/
.pnp
.pnp.js

# build
app/dist/
dist/
build/

# env
app/.env
app/.env.local
app/.env.*.local

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# misc
.env
*.tsbuildinfo
